<!-- Center the note icon -->
<div class="text-center">
  <!-- Display the note icon with a size of 88 px -->
  <i class="fa-regular fa-note-sticky"></i>
</div>

<!-- Show this container only if the post data is available -->
<div class="container mt-4" *ngIf="post">
  <!-- Custom form container with shadow and padding for better aesthetics -->
  <div class="custom-form shadow-lg p-3 bg-light p-4 rounded shadow-sm border border-2 border-light">

    <!-- Display the title of the post centered -->
    <!-- Show a truncated title with ellipsis if it's too long -->
    <h3 class="text-center mb-3">{{ post.title | slice:0:40 }}<span *ngIf="post.title.length > 40">...</span></h3>

    <!-- Form group for displaying the content -->
    <div class="form-group mb-4">
      <label for="content" class="form-label">Content</label>
      <!-- Textarea to show the post content, read-only to prevent editing -->
      <textarea id="content" [(ngModel)]="post.content" name="content" class="form-control lead" rows="5" readonly>
      </textarea>
    </div>

    <!-- Center the "Back" button -->
    <div class="text-center mt-4">
      <!-- Button to go back to the posts list -->
      <a routerLink="/posts" class="btn btn-primary">Back</a>
    </div>

  </div>
</div>
