<!-- Center the note icon -->
<div class="text-center">
  <!-- Display the note icon with a size of 88 px -->
  <i class="fa-regular fa-note-sticky"></i>
</div>

<!-- Show this container only if the post data is available -->
<div class="container mt-4" *ngIf="post">
  <!-- Custom form container with shadow and padding for better aesthetics -->
  <div class="custom-form shadow-lg p-3 bg-light p-4 rounded shadow-sm border border-2 border-light">

    <!-- Display the title of the post centered -->
    <!-- Show a truncated title with ellipsis if it's too long -->
    <h3 class="text-center mb-3">{{ post.title | slice:0:40 }}<span *ngIf="post.title.length > 40">...</span></h3>

    <!-- Form group for displaying the content -->
    <div class="form-group mb-4">
      <label for="content" class="form-label">Content</label>
      <!-- Textarea to show the post content, read-only to prevent editing -->
      <textarea id="content" [(ngModel)]="post.content" name="content" class="form-control lead" rows="5"
        [readonly]="!isEditing">
      </textarea>
    </div>

    <!-- Container para os botões -->
  <div class="d-flex justify-content-between mt-4">
    <!-- Botões Edit e Save à esquerda -->
    <div>
      <!-- Botão Edit, visível quando não está no modo de edição -->
      <button *ngIf="!isEditing" class="btn btn-warning me-2" (click)="editPost()">Edit</button>

      <!-- Botão Save, visível quando está no modo de edição -->
      <button *ngIf="isEditing" class="btn btn-success" (click)="savePost()">Save</button>
    </div>

    <!-- Botão Back à direita -->
    <div>
      <a routerLink="/posts" class="btn btn-primary">Back</a>
    </div>

  </div>
</div>
