/* styles.css ou styles.scss */

/* Tema escuro */
body.dark-theme {
  background-color: #000;
  color: white; /* Cor do texto no tema escuro */
}

/* Estilos para a lista de itens */
body.dark-theme .list-group-item {
  background-color: #2c2c2c; /* Fundo dos itens da lista no modo escuro */
  color: white !important; /* Cor do texto nos itens da lista */
  border: 5px solid #444 !important; /* Borda dos itens da lista */
}

body.dark-theme .post-title {
  color: white; /* Mudando a cor do texto do título para branco */
}

body.dark-theme .list-group-item:hover {
  background-color: #3a3a3a; /* Efeito hover no modo escuro */
}

/* Estilos para o formulário */
body.dark-theme .form-control {
  background-color: #444; /* Cor de fundo do input no modo escuro */
  color: white; /* Cor do texto do input */
  border: 1px solid #666; /* Borda do input */
}

body.dark-theme .form-control:focus {
  background-color: #555; /* Cor de fundo ao focar no input */
  border-color: #888; /* Borda ao focar no input */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra ao focar no input */
}
