.list-group-item {
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s; /* Adicionando transição para transformação */
  border-radius: 0.5rem; /* Arredondando os cantos */
  padding: 1rem; /* Adicionando um padding confortável */
  margin-bottom: 0.5rem; /* Ajustando a margem inferior */
}

.list-group-item:hover {
  background-color: #f7f7f7; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao passar o mouse */
  transform: scale(1.00); /* Leve aumento ao passar o mouse */
}

.post-title {
  font-size: 1.01rem; /* Aumentando o tamanho da fonte */
  font-weight: 500; /* Ou 500, se você preferir um negrito ainda mais leve */
  color: #333; /* Mudando a cor do texto */
}

.btn {
  transition: background-color 0.3s, color 0.3s; /* Transições para os botões */
}

.btn-warning:hover {
  background-color: #e0a800; /* Cor de fundo ao passar o mouse para o botão de editar */
}

.btn-danger:hover {
  background-color: #c82333; /* Cor de fundo ao passar o mouse para o botão de excluir */
}

.btn-dark:hover {
  background-color: #343a40; /* Cor de fundo ao passar o mouse para o botão de exportar */
}
