<div class="container mt-4">

  <!-- Mensagem de Sucesso -->
  <div *ngIf="successMessage" class="alert alert-success text-center" role="alert">
    {{ successMessage }}
  </div>

  <div class="text-center">
    <fa-icon [icon]="faCoffee" size="4x"></fa-icon>
  </div>

  <div class="mb-3">
    <a routerLink="/posts/new" class="btn btn-success">Nova Nota</a>
  </div>

  <!-- Barra de Pesquisa -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Pesquisar..."
      [(ngModel)]="searchTerm"
      (input)="filterPosts()"
    />
  </div>

  <!-- Mensagem quando a lista de notas estiver vazia -->
  <div *ngIf="!filteredPosts || filteredPosts.length === 0" class="alert alert-info text-center" role="alert">
    Adicione uma nota
  </div>

  <ul class="list-group">
    <li *ngFor="let post of filteredPosts" class="list-group-item border rounded shadow-sm mb-2">
      <a
        [routerLink]="['/posts', post.id]"
        class="text-decoration-none text-dark d-flex justify-content-between align-items-center"
        style="width: 100%;">

        <div class="post-title flex-grow-1">
          <span class="font-weight-bold" [title]="post.title">{{ post.title | slice:0:25 }}<span *ngIf="post.title.length > 30">...</span></span>
        </div>
      </a>

      <div class="d-flex justify-content-end mt-2">
        <a
          [routerLink]="['/posts/edit', post.id]"
          class="btn btn-warning btn-sm me-2"
          title="Editar">Editar</a>
        <button
          (click)="deletePost(post.id)"
          class="btn btn-danger btn-sm me-2"
          title="Excluir">Excluir</button>
        <button
          (click)="exportAsTxt(post)"
          class="btn btn-dark btn-sm"
          title="Exportar">Exportar</button>
      </div>
    </li>
  </ul>
</div>
