
  .list-group-item {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .list-group-item:hover {
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-group .btn {
    flex: 1; /* Faz com que os botões tenham o mesmo tamanho */
  }
  